registry=https://registry.npmjs.org
@hashcodelaboratory:registry=https://npm.pkg.github.com/
//registry.npmjs.org/:_authToken=${TOKEN_FOR_NPM}
//npm.pkg.github.com/PACKAGENAME/:_authToken=${TOKEN_FOR_GITHUB}
