.footerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerColumn {
  min-width: 140px;
}

.footerTitle {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 2rem;
}

.footerText {
  font-weight: 200;
  font-size: 12px;
  display: block;
  margin: 1em 0;
}

.footerIconsRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerIcon {
  width: 3rem !important;
  height: 3rem !important;
  margin-right: 0.5rem;
}

.footerContainerTitle {
  font-weight: 200;
  font-size: 0.9rem;
  padding: 0 1rem;
  text-align: center;
}

.footerIconsText {
  font-weight: 200;
  font-size: 12px;
  margin: 0;
  margin-left: 1rem !important;
}

.footerBottomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footerBottomContainerRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5rem 0;
}

.footerBottomContainerRowText {
  font-size: 12px;
  font-weight: 200;
}

.footerBottomContainerRowTextLink {
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}

.footerBottomIcon {
  margin-left: 1rem;
}

.footerDivider {
  font-size: 12px;
  font-weight: 300;
  margin: 0 0.75rem;
}

.footerContainer{
  margin: 1rem 0 0 0;
}