.eshopContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.categoriesContainer {
  padding: 25px;
  min-width: 250px;
  border-right: 1.5px solid #e6e6e6;
}

.rightContainer {
  width: 100%;
  padding: 25px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  row-gap: 5px;
  column-gap: 5px;
  background-color: white;
}

.categoryActive {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}

.categoryItem {
  color: #414b56;
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.categoryItem:hover {
  color: black;
  font-weight: 600;
}

.categoryTitle {
  margin-bottom: 25px !important;
}

.buttonHamburger {
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 0px 25px 25px 0px;
  position: fixed;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.17);
  z-index: 1;
  padding: 10px;
}

.hamburger {
  background-color: white;
  //position: fixed;
  color: #e81c40;
}
