.image {
  cursor: pointer;
  object-fit: contain;
  height: auto;
  width: auto;
  aspect-ratio: 1/1;
}

.previewProduct {
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.previewImageDescription {
  margin-top: 1rem;
}

.productTitle {
  margin: 0.2rem 0;
}

.description {
  margin-top: 10px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 30px;
}

.price {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.addToCart {
  margin-top: 20px !important;
}
