.productCart {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.image {
  cursor: pointer;
  object-fit: contain;
}

.title {
  margin-top: 10px !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.description {
  margin-top: 10px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 30px;
}

.price {
  margin-top: 10px;
  font-size: 12px;
}

.addToCart {
  margin-top: 20px !important;
}
