.icon:hover {
  cursor: pointer;
}

.link {
  color: black;
  margin: 16px 8px;
  padding: 6px 8px;
  font-weight: 300;
  font-size: 14px;
}

.link:hover {
  cursor: pointer;
}

.langArrow{
  width: 0;
  height: 0;
  font-size: 0.45em;
  border-right: 0.6em solid transparent;
  border-left: 0.6em solid transparent;
  border-top: 0.7em solid rgba(0,0,0,0.8);
  border-bottom: 0;
  margin-left: 0.9em;
  margin-top: 0.2em;
  display: inline-block;
}