.icon:hover {
  cursor: pointer;
}

.link {
  color: black;
  margin: 16px 8px;
  padding: 6px 8px;
  font-weight: 300;
  font-size: 14px;
}

.link:hover {
  cursor: pointer;
}

.langIcon{
  display: inline-block;
}

.langArrow{
  width: 0;
  height: 0;
  font-size: 0.45em;
  border-style: solid;
  border-right: 0.6em solid transparent;
  border-left: 0.6em solid transparent;
  border-top: 0.7em solid rgba(0,0,0,0.7);
  border-bottom: 0;
  margin-left: 0.9em;
  color: black;
  display: inline-block;
}

.langTitle{
  display: none;
  font-size: 14px;
  padding-right: 1em;
}

.langItem{
  padding: 3px 8px;
}

.langContainer{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.1em;
}