.icon:hover {
  cursor: pointer;
}

.link {
  color: black;
  margin: 16px 8px;
  padding: 6px 8px;
  font-weight: 300;
  font-size: 14px;
}

.link:hover {
  cursor: pointer;
}

.langSwitch{
  display: none;
  font-size: 1.1em;
  font-weight: 300;
  border-radius: 10%;
  border: 1px dotted grey;
  color: black;
  cursor: pointer;
}