.langIcon{
  margin: 0 0.8em 0em 0.5em;
}

.langItem{
  display: flex;
  align-items: center;
  padding: 0 0.3em 0 0.8em;
}

.langItem > p {
  font-size: 13px;
  font-weight: 300;
  margin-block: 0.7em;
  margin-inline: 1em;
}

.langFlag{
  border: 1px solid black;
}