.galleryTitle {
  margin-top: 40px;
}

.gallerySubtitle {
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 400;
}

.galleryRow {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.galleryImage {
  margin: 0.2rem !important;
}

.galleryCategoryRow {
  margin-top: 2rem;
  display: flex;
  color: white;
}

.galleryChip {
  margin-right: 0.5rem !important;
  margin: 0;
  background-color: white !important;
  border: none;
  border-radius: 0.5rem !important;
  padding: 0 1.5rem !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.galleryChip:hover {
  outline: 1px solid gray;
}

.galleryChip.clicked {
  outline: 1px solid gray;
}

.previewImageContainer {
  position: relative;
  max-width: 400px;
}

.previewImageLink {
  display: none;
}

.previewImageContainer:hover {
  cursor: pointer;

  .galleryImage {
    filter: brightness(50%);
  }

  .previewImageLink {
    left: 50% !important;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    padding: 1rem;
    border: 2px solid white;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-shadow: black 10px 0 10px;
  }
}
