.home {
  margin-top: 2rem;
}

.galleryButton {
  height: 10vw;
  border-radius: 0.5rem;
}

.horizontalContainer {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  overflow: visible;
}

.horizontalItem {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 1rem 0 2.5rem 0;
}

.itemTitle {
  padding-top: 1rem;
  text-align: center;
  font-weight: 300;
}

.materialsTitle {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.materialsText {
  font-weight: 200;
  padding-top: 1rem;
  padding-bottom: 2rem;
  max-width: 300px;
}

.galleryContainer {
  text-align: center;
  padding: 1rem 0 4rem 0;
}

.gallerySubtitle {
  font-weight: 200;
  padding-top: 0.5rem;
}

.galleryRow {
  padding-top: 1rem;
  display: flex;
  overflow-x: auto;
}

.roundedImage {
  border-radius: 0.5rem;
}

.imagePreview {
  border-radius: 10px;
}

.card {
  //position: relative;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s, opacity 0.5s;
  will-change: transform;
  overflow: hidden;
  touch-action: none;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  z-index: 3000;
}

.card > div {
  will-change: transform;
  height: 100%;
  margin: 0vw 0;
}

.card > div > * {
  height: 100%;
  background-size: cover;
  background-position: center center;
  margin: 0vw 0;
}

/**
 * The "shine" element
 */

.card:after {
  content: '';
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 0.13) 0%,
                  rgba(255, 255, 255, 0.13) 77%,
                  rgba(255, 255, 255, 0.5) 92%,
                  rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */

.card:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.card:active:after {
  opacity: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 43vh !important;
  background-image: url('../../assets/mask_group.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-bottom: 2rem;
}

.carouselContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  padding: 4rem 1rem 5rem 1rem;
  text-align: center;
}

.carouselContainerImage {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  padding: 1rem;
  text-align: center;
}

.carouselTitle {
  margin: 0;
  padding: 1rem;
}

.carouselSubTitle {
  font-size: 1.25rem;
  font-weight: 200;
  padding: 1rem;
  margin: 0;
}

.carouselButton {
  position: absolute;
  top: -70px; // Known issue -> due to UI design
  left: 0;
  right: 0;
  background-color: white;
  max-width: 300px;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  cursor: pointer;
  border: 2px dashed #45D9FF;
  border-radius: 1rem;
  text-align: center;
}

.carouselButtonText {
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 200 !important;
  font-size: 1rem;
  margin: 0;
}

.carouselButtonIcon {
  margin: auto;
  width: 4rem;
  height: 4rem;
  background-image: url("../../assets/upload_icon.svg");
  background-repeat: no-repeat;
}

.previewRow {
  padding: 1rem;
}

.previewTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.previewTitleRowButton {
  margin: 0;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.previewTitleRowButton:hover {
  outline: 1px solid gray;
}

.previewTitleRowButtonText {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}

.previewImageRow {
  overflow: hidden;
  margin-top: 1rem;
  display: flex;
}

.animatedPreviewImageRow {
  animation: swipe 30000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.previewCard {
  margin-right: 0.5rem;
}

.previewImage {
  height: 25vw;
  max-height: 368px;
  background-color: white;
  background-image: url('../../assets/placeholder.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(3px);
}

.previewImageContainer {
  position: relative;
  max-width: 400px;
}

.previewImageLink {
  display: none;
}

.previewImageContainer:hover {
  cursor: pointer;

  .previewImageFromUrl {
    filter: brightness(50%);
  }

  .previewImageLink {
    left: 50% !important;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    padding: 1rem;
    border: 2px solid white;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.previewImageDescription {
  margin-top: 1rem;
}

.previewTitle {
  margin: 0.2rem 0;
}

.previewPrice {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
}

.slider {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 1rem 0;
}

.sliderImage {
  max-width: 1200px;
  height: 40vw;
  max-height: 600px;
  background-image: url('../../assets/placeholder.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 1rem;
  filter: blur(3px);
}

@media only screen and (max-width: 700px) {
  .previewImageLink {
    font-size: 12px !important;
    padding: 0.5rem !important;
    left: 10vw !important;
  }
}

@media only screen and (max-width: 500px) {
  .previewImageLink {
    font-size: 12px !important;
    padding: 0.5rem !important;
    left: 7vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .previewImageLink {
    font-size: 12px !important;
    padding: 0.5rem !important;
    left: 5vw !important;
  }
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, #f6f6f6, transparent 16%, transparent 16%, #f6f6f6);
  position: absolute;
  inset: 0;
}

.loopSlider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.animatedRow {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}