$delivery-container-width: 380px;

.emptyCartContainer {
  padding: 2rem 0;
  position: relative;
  height: calc(100vh - 83px - 68.5px - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 200px;
  height: 200px;
  color: silver;
}

.title {
  color: grey;
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 4rem;
}

.summaryContainer {
  padding: 1vw 0 0 0;
}

.summary {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.summary :nth-child(1) {
  max-width: 776px;
}

.summary :nth-child(2) {
  max-width: $delivery-container-width;
}

.summary :nth-child(3) {
  max-width: $delivery-container-width;
}

.summary :nth-child(4) {
  max-width: $delivery-container-width;
}

.summary :nth-child(5) {
  max-width: $delivery-container-width;
}

.summaryColumn {
  max-width: 420px;
}

.orderContainer {
  display: flex;
  flex-direction: column;
}

.cartContainer {
  max-width: 740px;
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
    rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  background-color: white;
}

.deliveryContainer {
  padding: 1rem;
  width: 350px;
  background-color: #f1f1f1;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
    rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
}

.itemsSize {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  color: gray;
}

.backButton {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: white;
  border: none;
  text-transform: uppercase;
  color: #1976d2;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.backButton:hover {
  background-color: #f1f1f1;
  text-decoration: underline;
}

.orderButton {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  background-color: #1976d2;
  border: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.orderButton:hover {
  background-color: #13569b;
  text-decoration: underline;
}

.cartRow {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #e3e3e3;
}

.qtyContainer {
  display: flex;
  align-items: center;
  margin: 0 0.7rem;
}

.qtyField {
  margin: 0;
  padding: 0.2rem 0.5rem 0 0.5rem;
  font-weight: 200;
  font-size: 0.9rem;
}

.cartItemsContainer {
  min-height: 230px;
  max-height: 300px;
  overflow-y: scroll;
}

.totalContainer {
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summarySectionTitle {
  font-weight: 200;
  text-transform: uppercase;
}

.checkoutButton {
  border-radius: 0.25rem;
  border: none;
  padding: 0.75rem;
  background-color: gray;
  color: white;
  margin: 1rem auto 0 auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}

.checkoutButton:hover:not([disabled]) {
  background-color: #606060;
}

.checkoutButton:disabled {
  cursor: default;
  background-color: #b2b2b2;
}

.codeField {
  background-color: white;
}

.text {
  font-weight: 100;
  font-size: 0.75rem;
}

.price {
  font-weight: 500;
  font-size: 1.2rem;
}

.cartTitleContainer {
  display: flex;
  align-items: center;
}

.cartTitleText {
  margin-top: 0;
}

.cartDisabledTitle {
  font-weight: 300;
  color: gray;
}

.cartTitleDivider {
  margin: 0 1rem;
  font-weight: 200;
  color: gray;
}

.thanksContainer {
  text-align: center;
  padding: 4rem 0;
}

.thanksIcon {
  width: 250px;
  height: 250px;
  color: silver;
}

.thanksTitle {
  color: gray;
  text-transform: uppercase;
}

.thanksSubTitle {
  text-transform: uppercase;
}

.thanksContent {
  white-space: pre-line;
  font-size: 1.25rem;
}

.thanksButton {
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  background-color: gray;
  color: white;
  font-size: 1rem;
  margin: 1.5rem 0;
}

.thanksButton:hover {
  cursor: pointer;
  background-color: #626262;
}

.thanksLight {
  font-weight: 200;
}

.cartRowDescription {
  margin: 0 0.7rem;
  font-size: 0.8rem;
  font-weight: 200;
}

.cartRowButton:hover {
  cursor: pointer;
}

.cartRowThumbnailContainer {
  display: flex;
  align-items: flex-end;
}

.cartRowRemove {
  margin-top: 0.3rem;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 0.05rem 0.5rem 0.2rem 0.5rem;
  font-weight: 200;
  font-size: 0.9rem;
}

.cartRowRemove:hover {
  cursor: pointer;
}

.radioGroupLabel {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.priceBox {
  margin: 0 0.3rem;
  font-weight: bold;
  width: 70px;
}

.paymentBox {
  margin: 0 0.3rem;
  font-weight: bold;
  width: 180px;
}

.deliveryLightText {
  font-weight: 100;
  text-align: left;
  margin-right: 1rem;
}

.formField {
  margin: 1rem 1rem 0.5rem 0 !important;
}

.deliveryField {
  width: 100%;
  border: 1px solid silver;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.deliveryField:hover {
  border: 1px solid #6595df;
  background-color: rgba(193, 203, 224, 0.24);
}

.deliveryIcon {
  width: 30px;
  color: #6595df;
}

.cartRowPrice {
  margin-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.cartRowClose {
  position: absolute;
  top: 0;
  right: 0;
}

.cartRowClose:hover {
  cursor: pointer;
}

.voucherContainer {
  display: flex;
  flex-wrap: wrap;
}

.voucherTextField {
  margin: 1rem 0rem 0.5rem 0 !important;
  width: 304px;
}

@media only screen and (max-width: 600px) {
  .formField {
    width: 100%;
  }
}

@media only screen and (min-width: 1205px) {
  .cartContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 1205px) {
  .summary :nth-child(1) {
    order: 1;
  }

  .summary :nth-child(2) {
    order: 5;
  }

  .summary :nth-child(3) {
    order: 3;
    width: 100%;
  }

  .summary :nth-child(4) {
    order: 4;
  }

  .summary :nth-child(5) {
    order: 2;
    width: 100%;
  }

  .orderContainer {
    width: 100%;
  }
}