.addProductContainer {
  padding: 20px;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(64 64 64 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
  border-radius: 1rem;
  width: 600px;
}

.input {
  margin-top: 10px;
}

.button {
  margin-top: 10px;
  float: right;
}

.imagePreview {
  object-fit: contain;
}

.galleryDetailDropzone {
  max-width: 500px;
  height: 100px;
  box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(64 64 64 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}