.uploadButton {
    background-color: black;
    color: white;
    max-width: 300px;
    border: none;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;
}

.uploadPhotoSubcontent {
    font-size: 1.25rem;
    font-weight: 200;
}

.horizontalContainer {
    display: flex;
    width: 100%;
    padding: 2rem 0;
}

.horizontalItem {
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 2rem 0;
}

.itemTitle {
    padding-top: 1rem;
    text-align: center;
    font-weight: 300;
}

.materialsTitle {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.materialsText {
    font-weight: 200;
    padding-top: 1.5rem;
    max-width: 300px;
}

.galleryContainer {
    text-align: center;
    padding: 4rem 0;
}

.gallerySubtitle {
    font-weight: 200;
    padding-top: 0.5rem;
}

.galleryRow {
    padding-top: 1rem;
    display: flex;
    overflow-x: auto;
}

.galleryItem {
    margin: 0 1rem;
    cursor: pointer;
}