.container {
  padding: 20px;
  border-radius: 5px;
  height: auto;
}

.textInfo {
  padding: 0px 15px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #424c56;
}

.description {
  margin: 0;
  font-size: 14px;
  margin-bottom: 20px;
  color: #8b9094;
  font-weight: 500;
}
