.image {
  border-radius: 10px;
}

.itemSkeletonContainer {
  margin-right: 1rem;
}
.description {
  margin-top: 1rem;
}
.title {
  margin: 0.2rem 0;
}
.price {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
}
