.productDetailContainer {
    margin-top: 4rem !important;
    background-color: white;
    padding: 10px 10px;
}

.detailLayout { 
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    // row-gap: 0;
    // column-gap: 0px;    
}

.productInfo {
    
}

.image {
    object-fit: contain;
    background-color: white;
}

.title {
    font-size: 22px;
    font-weight: 700;
    color: #444c57
}

.price {
    font-size: 25px;
    color: #c31702;
    font-weight: 700;
    margin-top: 20px;
}

.count {
    color: #4c9f70;
    margin-top: 5px;
    font-size: 15px;
}


.withTax {
    color: gray;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

.button {
    margin: 20px 0px;
}