.eshopContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.categoriesContainer {
    padding: 10px;
    min-width: 200px;
}

.rightContainer {
    width: 100%;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    row-gap: 0;
    column-gap: 0px;
    background-color: white;
}