.galleryRow {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.galleryImage {
  margin: 0.2rem !important;
}

.galleryCategoryRow {
  margin-top: 2rem;
  display: flex;
}

.galleryChip {
  margin-right: 0.5rem;
}